# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# Distribution / Packaging
build/
dist/
*.spec

# Pygame / OS junk
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# IDE settings (opzionale ma consigliato)
.vscode/
.idea/